body{margin:0;padding:0;background:#ccc;transition:all 0.5s}
#container{width: 600px;background:white;transition:all 0.5s;padding:15px 50px;position: relative;left:50%;margin-left: -275px;box-sizing: border-box;border-radius: 3px;top:150px;overflow: hidden}
#quote:before{content:"“";font-size: 60px;font-weight: bold;color:inherit;}
#author{position:relative;left:350px;}
#author:before{content:"--";color:inherit;}
#new_quote{position:relative;left:350px;outline: none;border:none;width: 106px;height: 38px;color:white;border-radius:3px;transition:all 0.5s}
#copyright{position:absolute;bottom:0;text-align: center;color:white;margin:0 auto;display: block;left:50%;margin-left:-50px}